fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator

# AI / ML
joblib
numpy
pandas
scikit-learn
xgboost
